body {
  font-family: Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #DDD;
  padding: 30px;
}

label, input, button {
  display: block;
  width: 96%;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
}

button {
  background-color: orange;
  color: white;
  padding: 10px;
  border: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

span {
  font-weight: bold;
}

.result {
  display: none;
}

.aqua {
  color: skyblue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}
